<%#= expects local movie %>

  <div class="movie-poster">
    <% if movie.poster_url %>
      <%= image_tag movie.poster_url, :width => 200 %>
    <% else %>
      <%= image_tag 'no_pic.gif', :width => 200, :height => 300 %>
    <% end %>
  </div>
  <% if @logged_in %>
    <div id="user-rate" <%= if @current_user.rated_movies.include? movie then "class=rated" end %>>
      <div class="movie-title">
        Rate This Movie
      </div>
      <% if @current_user.rated_movies.include? movie %>
        <div class="your-rating">Your Rating: <strong><%= URating.where("mid = ? and uid = ?", movie.id, @current_user.id).first.rating %></strong></div>
        <a href="#" class="edit-rating" onClick="edit_rating(); return false;">Edit your rating</a>
      <% end %>
      <form id="rate-this-movie" class="clearfix" action="#" onSubmit="rate_this_movie_submit(); return false;">
        <input type="text" class="rating" maxlength="3"><span>&nbsp;&nbsp;/ 10</span>
        <input type="submit" class="submit-rating" value="Rate!">
      </form>
      <div class="error">please enter a valid score (0 - 10)</div>
    </div>
  <% end %>
  <div class="movie-header">
    <div class="movie-title">
      <%= movie.name.titleize %>
    </div>
    <div class="row clearfix">
      <div class="left">
        Year
      </div>
      <div class="right">
        <%= movie.release_date.year %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="left">
        IMDB Rating
      </div>
      <div class="right">
        <%= movie.imdb_rating || '-' %>
      </div>
    </div>
    <div class="row clearfix" id="edit-imdb-url-row">
      <div class="left">
        IMDB URL
      </div>
      <div class="right">
        <%= movie.imdb_url || '- ' %>
        <br />
        <%= link_to_function 'Edit URL', "rate_it_edit_imdb_url(\"#{movie.imdb_url || ''}\")", :id => 'edit-imdb-url' %> <span class="small-info">(updates movie information)</span>
        <br />
        <% if @imdb_url_not_found %>
        <span style="color:red;font-size:8pt;">Could not find movie with the provided IMDB url. Please try again.</span>
        <% end %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="left">
        SCN User Rating
      </div>
      <div class="right user-rating-data">
        <%= render :partial => 'movies/user_rating', :locals => {:movie => movie } %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="left">
        Length
      </div>
      <div class="right">
        <%= movie.length || 0 %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="left">
        Plot
      </div>
      <div class="right">
        <%= movie.plot || '-' %>
      </div>
    </div>
	
	<div class="row clearfix">
      <div class="left">
        Movie Crew
      </div>
      <div class="right">
        <% if (movie_crew.empty?) %>
 					-
 				<% end %>
        <% movie_crew.each do |mc| %>
					<%= mc['fname']%>
					<%= mc['lname'] %>
					<br>
				<% end %>
      </div>
    </div>
	
	<div class="row clearfix">
      <div class="left">
        Oscar Nominations
      </div>
      <div class="right">
			<!-- Checking if the oscars exists -->
			
				<% count=0 %>
				<% m_oscar.each do%>
					<% count += 1%>
				<% end %>
				
				<% p_oscar.each do%>
					<% count += 1%>
				<% end %>
				
				<% if count==0 %>
				-
				<% else %>
					<table>
						<thead>
							<td>Category</td>
							<td>Year</td>
							<td>Win</td>
						</thead>
						
						<% m_oscar.each do |m_o| %>
							<tr>
								<td><%= m_o[0] %> </td>
								<td><%= m_o[1] %>	 </td>
								<td><% if m_o[2]==0 %>
										false
									<%else%>
										true
										<% end %>
									</td>
							</tr>
						<% end %>
							
						<% p_oscar.each do |p_o| %>
							<tr>
								<td><%= p_o[0] %></td>
								<td><%= p_o[1] %></td>
								<td><% if p_o[2]==0 %>
										false
									<%else%>
										true
										<% end %></td>
							</tr>
						<% end %>
					</table>
				<% end %>
			</div>
    </div>
	
	<div class="row clearfix">
      <div class="left">
        Genre
      </div>
      <div class="right">
			<%= if genre.empty? then '-' end %>
    	<% genre.each do |g| %>
				<%= g['category'] %>
			<% end %>
			
      </div>
    </div>
	
    <!-- <% if @imdb_url %>
      <%= link_to 'IMDB', movie_url %>
    <% end %> -->
  </div>