<%= form_for @user, :url => create_user_path(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :fname, :placeholder => 'First Name', :class => 'users-field' %>
  </div>
  <div class="field">
    <%= f.text_field :mname, :placeholder => 'Middle Name', :class => 'users-field' %>
  </div>
  <div class="field">
    <%= f.text_field :lname, :placeholder => 'Last Name', :class => 'users-field' %>
  </div>
  <div class="field">
    <h1><%= f.label :dob, "Birthday" %></h1>
    <%= f.date_select :dob, :start_year => 1900, :end_year => Time.now.year %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => 'Email', :class => 'users-field' %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => 'Password', :class => 'users-field' %>
  </div>
  <%= f.hidden_field :is_admin, :value => false %>
  <div class="actions">
    <%= f.submit 'Register', :class => 'submit' %>
  </div>
<% end %>
