<h1>Listing u_ratings</h1>

<table>
  <tr>
    <th>Uid</th>
    <th>Mid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @u_ratings.each do |u_rating| %>
  <tr>
    <td><%= u_rating.uid %></td>
    <td><%= u_rating.mid %></td>
    <td><%= link_to 'Show', u_rating %></td>
    <td><%= link_to 'Edit', edit_u_rating_path(u_rating) %></td>
    <td><%= link_to 'Destroy', u_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New U rating', new_u_rating_path %>
