<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @u_rating.uid %>
</p>

<p>
  <b>Mid:</b>
  <%= @u_rating.mid %>
</p>


<%= link_to 'Edit', edit_u_rating_path(@u_rating) %> |
<%= link_to 'Back', u_ratings_path %>
