<p id="notice"><%= notice %></p>

<p>
  <b>Mid:</b>
  <%= @classified.mid %>
</p>

<p>
  <b>Gid:</b>
  <%= @classified.gid %>
</p>


<%= link_to 'Edit', edit_classified_path(@classified) %> |
<%= link_to 'Back', classifieds_path %>
