<pre>
	
		Social Cinema Net is a movie database that allows users to find information about all the movies, actors, oscar nomination, and genres. The database allows users to create an account which help to rate the movies, and update the movie. The database provides users to search movie by title, actor, genre, or oscar nomination. Along with regular search, the social movie database also provides the extensive search that help to filters all the search criteria. The page is user friendly and effective. The users are allowed to update the database based on the imdb movie url.
</pre>

<% if @logged_in %>
	<h3> Top 3 Users from Last Month </h3>
		<table>
		  <thead>
		    <tr>
		      <td>Name</td>
		      <td>Number of Movies rated</td>
		    </tr>
		  </thead>
		<tr>
			<% @top_users.each do |user|%>
				<td><%= user.fname + " " + user.mname + " " + user.lname%></td>
				<td><%= user.u_ratings.where("updated_at between date_format(NOW() - INTERVAL 1 MONTH, '%Y-%m-01') AND last_day(NOW() - INTERVAL 1 MONTH)")%>
			<% end %>
		</tr>
	</table>
	<br>
<% end %>

<h3>
	Top 20 user-rated movies
</h3>

<div> Sort By </div>
<div>
<a href="/?sort_by=user_rating">Top 20 (Avg User Rating)</a>
<a href="/?sort_by=user_rating_count">Top 20 (User Rating Count)</a>
</div>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Year</td>
      <td>User Rating</td>
      <td>User Rating Count</td>
    </tr>
  </thead>
<% @movies.each do |movie| %>
  <tr>
    <td>
      <%= link_to movie.name, movie_show_path(movie.id) %>
    </td>
    <td>
      <%= movie.release_date.year %>
    </td>
    <td class="imdb-rating">
      <%= movie.user_rating.round(1) rescue "N/A" %>
    </td>
    <td>
      <%= movie.user_rating_count %>
    </td>
</tr>
<% end %>
</table>