<!DOCTYPE html>
<html>
<head>
  <title>SocialCinemaNet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div class="container">
      <div id="user-links">
        <ul>
          <% if @logged_in %>
            <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
            <li><%= link_to 'Help', '#' %></li>
          <% else %>
            <li><%= link_to 'Register', '/register' %></li>
            <li><%= link_to 'Login', '/login' %></li>
            <li><%= link_to 'Help', '#' %></li>
          <% end %>
        </ul>
      </div>
      <div id="logo"><%= image_tag 'logo.png' %><!-- SocialCinemaNet --></div>
      <div id="search">
        <input type="text" class="search"><input type="submit" value="Search" class="search-submit">
		<%= link_to 'advanced search', '/advanced_search', :class => "advanced-search-link" %>
      </div>
      <div id="nav" class="clearfix">
        <ul class="clearfix">
          <li><%= link_to 'Home', '#' %></li>
          <li><%= link_to 'Movies', '#' %></li>
          <li><%= link_to 'Genres', '#' %></li>
          <li><%= link_to 'Actors', '#' %></li>
          <li><%= link_to 'Directors', '#' %></li>
          <li><%= link_to 'Rate', '#' %></li>
          <li><%= link_to 'Movie Update', '#' %></li>
          <li><%= link_to 'Notifications', '#' %></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="content">
    <div id="content" class="container">
      <%= yield %>
    </div>
  </div>
  
  <div id="footer">
    <div class="container">
      <div class="footer-nav clearfix">
        <ul>
          <li><%= link_to 'Home', '#' %></li>
          <li><%= link_to 'Rate', '#' %></li>
          <li><%= link_to 'Movie Update', '#' %></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
